/* ==========================================================================
   Animations
   ========================================================================== */
   @keyframes headerMove {
      0% { height: 0; }
      100% { height: 140px; }
   }

   @-webkit-keyframes headerMove {
      0% { height: 0; }
      100% { height: 140px; }
   }

   @-moz-keyframes headerMove {
      0% { height: 0; }
      100% { height: 140px; }
   }

   @-o-keyframes headerMove {
      0% { height: 0; }
      100% { height: 140px; }
   }

   @-ms-keyframes headerMove {
      0% { height: 0; }
      100% { height: 140px; }
   }

   .header {
      -webkit-animation: headerMove 1s ease-in-out paused both;
         -moz-animation: headerMove 1s ease-in-out paused both;
          -ms-animation: headerMove 1s ease-in-out paused both;
           -o-animation: headerMove 1s ease-in-out paused both;
              animation: headerMove 1s ease-in-out paused both;
   }


   /* Logo - Circle
      ========================================================================== */
      .ico-circle {
         -webkit-animation: bounceIn 2s ease-in-out both;
            -moz-animation: bounceIn 2s ease-in-out both;
             -ms-animation: bounceIn 2s ease-in-out both;
              -o-animation: bounceIn 2s ease-in-out both;
                 animation: bounceIn 2s ease-in-out both;
      }

   /* A2
      ========================================================================== */
      .ico-a2 {
         -webkit-animation: fadeInDown 1s ease-out 1s both;
            -moz-animation: fadeInDown 1s ease-out 1s both;
             -ms-animation: fadeInDown 1s ease-out 1s both;
              -o-animation: fadeInDown 1s ease-out 1s both;
                 animation: fadeInDown 1s ease-out 1s both;
      }

   /* Lab
      ========================================================================== */
      .logo > span {
         -webkit-animation: fadeInLeft 1s ease-out 1s both;
            -moz-animation: fadeInLeft 1s ease-out 1s both;
             -ms-animation: fadeInLeft 1s ease-out 1s both;
              -o-animation: fadeInLeft 1s ease-out 1s both;
                 animation: fadeInLeft 1s ease-out 1s both;
      }

   /* Project
      ========================================================================== */
      .project {
         -webkit-animation: fadeInUp 0.75s ease-out 1.5s both;
            -moz-animation: fadeInUp 0.75s ease-out 1.5s both;
             -ms-animation: fadeInUp 0.75s ease-out 1.5s both;
              -o-animation: fadeInUp 0.75s ease-out 1.5s both;
                 animation: fadeInUp 0.75s ease-out 1.5s both;
      }
