/* ==========================================================================
   Cálculo grid
   ========================================================================== */
   $totalColumns   : 12;
   $columnWidth    : 81px;
   $gutterWidth    : 20px;
   $gridWidth      : 1192px;
   
   /* Funções de cálculo do grid */
   @import 'grid-functions';


/* ==========================================================================
   Grid
   ========================================================================== */
   body {
      width: 100%;
      @include clearfix();
   }
      

   @media only screen {
      .container {
         padding-left: 10px;
         padding-right: 10px;
      }

      .row {
         width: 100%;
         @include clearfix();
         margin: 0 auto;
      }

   }

   /*
    * CSS adaptado para dispositivos com resoluções maiores que 767px
    *    Tablets e desktops
    */

   @media only screen and (min-width: 768px) {

      .project {
         @include width(4);
         @include column();
      }

      .project.last { @include last(); }
   }