/* ==========================================================================
   Navegacao
   ========================================================================== */
   
   @media only screen {
      
      /* Header
         ========================================================================== */
         .header {
            display: block;
            width: 100%;
            background-color: #fff;
            height: 150px;
            @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.3));
         }

         .logo {
            position: relative;
            top: 20px;
            width: 200px;
            height: 112px;
            margin: 0 auto;
            color: #fff;
         }

         .logo > i { position: absolute; }

         .ico-a2 {
            left: 19px;
            top: 19px;
         }

         .logo > span {
            position: absolute;
            right: -5px;
            top: 30px;
            font-size: 54px;
            color: #666;
         }

      /* Footer
         ========================================================================== */
         .footer {
            margin-top: 10px;
            display: block;
            padding: 15px;
         }

         .footer .row {
            border-top: solid 1px #ddd;
            padding-top: 10px;
         }

         .footer a { @include transition(all, 0.25s, ease); }

      /* Menu
         ========================================================================== */

   }

   /*
    * CSS adaptado para dispositivos com resoluções maiores que 767px
    *    Tablets e desktops
    */

   @media only screen and (min-width: 768px) {
      
      /* Header
         ========================================================================== */

      /* Footer
         ========================================================================== */

      /* Menu
         ========================================================================== */

   }